@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Lab3.Models.City>
<select id="city" name="City">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>