@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form class="user" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input asp-for="FirstName" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
        </div>
        <div class="col-sm-6">
            <input asp-for="LastName" type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input asp-for="Password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">

            <div class="col-sm-6">
                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
            </div>
        </div>
    </div>
    <div class="form-group">
        <h3>Выберите страну</h3>
        @Html.DropDownList("State", ViewBag.States as SelectList, new { id = "state" })
        <h3>Выберите город</h3>
        @Html.DropDownList("City", ViewBag.Cities as SelectList, new { id = "city" })
    </div>
    @section scripts{
        <script type="text/javascript">
    $(function () {

        $('#state').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#city').replaceWith(data);
                }
            });
        });
    })
        </script>
    }

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register Account</button>
</form>